body {
	background-color: #282b2b;
	height: 100%;
	padding: 10px;
}

h2 {
	color: #ffffff;
}

h3 {
	color: #ffffff;
}

/* #nav-home h3 {
	color: white;
	background-color: #428bca;
	padding: 5px 15px;
} */
.card {
	background-color: #8A8D8F;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}