.main {
	background-color: black;
}

.card {
	background-color: black;
	color: white;
}

.header-navbar {
	overflow: hidden;
	background-color: transparent;
	position: initial;
	width: 100%;
}

.header-btn {
	float: right;
	margin: 12px 3px;
	margin-bottom: 4px;
}