body {
	background-color: black;
}

h1 {
	color: white;
	/*Nasa colors
	 color: #FC3D21
	 color: #0B3D91 */
}

h2 {
	color: #004080;
}

h4 {
	color: #DD2727;
}
p {
	color: white;
}